<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/RAMADHAN_JAS.jpg" alt="cat profile">
<p>
  Hello My name is Ramadhan, i'am a web developer who live in Cilegon city, indonesia.
  i have skills in web development in javascript, php, html, css, nodejs, and build API. and i also have
  skills in some frameworks such expressjs, bootstrap, tailwindcss, laravel, codeigniter
</p>
<%- include("partials/footer.ejs") %>